h1 {
    padding: 15px 0; 
}

.col {
    padding-bottom: 10px; 
}

img {
    width: 100%; 
}

@media (min-width: 576px) {
    .col {
        padding: 0 5px 10px 5px;
    }
    .negative-top1 {
        margin-top: -26px; 
    }
    .negative-top2 {
        margin-top: -42px; 
    }
}

@media (min-width: 768px) {
    .negative-top1 {
        margin-top: -36px; 
    }
    .negative-top2 {
        margin-top: -56px; 
    }
}

@media (min-width: 992px) {
    .negative-top1 {
        margin-top: -50px; 
    }
    .negative-top2 {
        margin-top: -78px; 
    }
}

@media (min-width: 992px) {
    .negative-top1 {
        margin-top: -60px; 
    }
    .negative-top2 {
        margin-top: -90px; 
    }
}
